		
		<aside class="sidebar">
			
			<div class="sidebar-container">
				
				<div class="sidebar-top">
				
					<p class="sidebar-email"><a href="mailto:{{site.email}}" title="Email me">{{site.email}}</a></p>
					
				</div>
				
				<div class="sidebar-bottom">
					
					<ul class="unstyled sidebar-social-media">
						<li><a class="github" href="https://github.com/johndevlin" target="_blank" title="Visit my Github profile">Visit my Github profile</a></li>
						<li><a class="dribbble" href="https://dribbble.com/john_devlin" target="_blank" title="Visit my Dribbble profile">Visit my Dribbble profile</a></li>
						<li><a class="twitter" href="https://twitter.com/john_devlin" target="_blank" title="Visit my Twitter feed">Visit my Twitter feed</a></li>
					</ul>
					
					<ul class="unstyled sidebar-logo-list">
						<li><a class="sidebar-logo" href="/" title="Go home">Home</a></li>
					</ul>
					
				</div>
				
			</div>
			
		</aside>