
.intro p.back {
	font-size: 1rem;
	margin-bottom: 0.5rem;
	
	 a {
		background-position: left center;
		background-size: 26px 14px;
		background-repeat: no-repeat;
		background-image: url('/img/back-arrow.svg');
		color: $white;
		font-family: $base-typeface--medium;
		padding-left: 34px;
		text-decoration: none;
	}
}



.case-study .intro-copy {
	position: static;
	top: auto;
	transform: translateY(0);
} 

.case-study-section {
	margin: 50px auto 100px;
	position: relative;
	max-width: 800px;
	width: 100%;
	
}

.case-study-section {	
	
	&:after {
		@extend .hr;
		bottom: -60px;
	}
	
	&:last-of-type {
		margin-bottom: 50px;
		
		&:after {
			display: none;
		}
	}
}

.case-study-intro .content-container {
	display: flex;
	
	p {
		margin-right: 50px;
	}
	
	p {
		font-family: $base-typeface--medium;
	}
	
	.case-study--roles li {
		white-space: nowrap;
	}
}

.case-study--roles--mobile {
	display: none;
}

.case-study-img {
	margin-top: 40px;
	transform: translateX(-52px);
	
	img {
		max-height: 320px;
		max-width: 100%;
	}
}


@media only screen and (max-width: 1110px) {
	
	.case-study-img {
		text-align: center;
		transform: none;
	}

}