---
title: About
permalink: /about/
---

{% include head.html %}

		<div role="main" id="content" class="main-content">
			
			{% include header.html %}
			
			<div class="intro tall">
				
				<div class="about-intro-container">
					
					<img class="avatar" src="/img/me@2x.png" alt="Me in 1989" title="Me in 1989" />
					
					<div class="intro-copy">
						
						<h1>Hi.</h1>
						
						<p>I’m a Digital Designer & Front-End Developer currently working for iManage. I specialise in designing interfaces for the web. Specifically user-friendly interfaces that comply with the Web Content Accessibility Guidelines (WCAG).</p>
						
						<p>I generally don’t like photographs of myself so above is photograph of me from 1989 rocking a pretty epic Batman jumper that will undoubtedly end up in a PowerPoint at some point in the future.</p>
						
						<p>If you would like to know more about me (or Batman) please <a href="mailto:{{site.email}}" title="Email me">send me an email</a>.</p>
						
					</div>
					
				</div>
				
				<a class="scroll-down-link" href="#scroll-to-content--home" title="Scroll to main content" id="scroll-to-content--home"><span>Scroll Down</span></a>
				
			</div>
			
			<div id="main-content-home" class="container">
				
				<section class="content-section">
					
					<div class="content-container">
						
						<h1>Education &amp; Work</h1>
						
						<h2>University</h2>
						
						<p>I studied <a href="https://scm.ulster.ac.uk/imd/" title="Website for Interactive Multimedia Design" target="_blank">Interactive Multimedia Design</a> at University of Ulster between 2006 &#8211; 2010.</p>
						
						<h2>Rehab Agency</h2>
						
						<p>I worked as a Front-End Developer at <a href="https://www.rehabagency.ai/" title="Website for Rehab Agency" target="_blank">Rehab Agency</a> (formally +rehabstudio) between 2011 &#8211; 2012.</p>
						
						<h2>Mammoth</h2>
						
						<p>I worked as a Senior Digital Designer at <a href="https://www.mammoth.tv/" title="Website for Mammoth" target="_blank">Mammoth</a> between 2012 &#8211; 2014.</p>
						
						<h2>Sherlayer</h2>
						
						<p>I was Creative Lead at <a href="https://sherlayer.com/" title="Website for Sherlayer" target="_blank"></a> between 2014 &#8211; 2016.</p>
						
						<h2>iManage</h2>
						
						<p>I've been working as a Senior UX Designer at <a href="https://imanage.com/">iManage</a> since 2016 &#8211; present</p>
						
					</div>
					
				</section>
				
				
				<section class="content-section">
					
					<div class="content-container">
						
						<h1>Colophon</h1>
						
						<h2>Typography</h2>
						
						<p>This site is set in <a href="https://www.type-together.com/bree-serif-font" title="Bree Serif details" target="_blank">Bree Serif</a> by <a href="https://www.type-together.com/" title="TypeTogether website" target="_blank">TypeTogether</a> and <a href="https://www.k-type.com/fonts/transport-new/" title="Transport New details" target="_blank">Transport New</a> by <a href="https://www.k-type.com/" title="K-Type website" target="_blank">K-Type</a>.</p>
						
						<h2>Tools</h2>
						
						<p>Built on <a href="https://jekyllrb.com/" title="Jekyll website" target="_blank">Jekyll</a> and hosted on <a href="https://bigwetfish.hosting/" title="Big Wet Fish website" target="_blank">Big Wet Fish</a>.</p>
						
						<h2>Accessibility</h2>
						
						<p>This website aims to be <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" title="WCAG website" target="_blank">WCAG 2.1 AA</a> compliant.</p>
						
					</div>
					
				</section>
				
			</div>
			
		</div>
		
{% include sidebar.html %}

{% include footer.html %}