---
title: iManage
permalink: /work/imanage/
---

{% include head.html %}

		<div role="main" id="content" class="main-content">
			
			{% include header.html %}
			
			<div class="intro">
				
				<div class="intro-copy">
					
					<p class="back"><a href="/">Back</a></p>
					
					<h1>iManage</h1>
					
					<p>iManage are an industry leader in document management and security software for law firms, corporate legal departments, and other professional services.</p>
					
				</div>
				
			</div>
			
			<div class="container">
				
				<section class="case-study-section case-study-intro">
					
					<div class="case-study-container">
						
						<p>I work within iManage's Security and Information Governance team where I am the lead designer on Security Policy Manager and Records Manager. My role includes creating rapid prototypes for new features within the products, designing the interface, building for desktop and mobile, as well as coming up with email strategies for notifications and contributing to the company's user interface style guide.</p>
						
					</div>
					
					<ul class="unstyled case-study--roles">
						<li><strong>Roles:</strong></li>
						<li>UX Design</li>
						<li>Prototyping</li>
						<li>Accessibility</li>
						<li>CSS</li>
						<li>Mobile</li>
						<li>Email Strategy</li>
						<li>User Research</li>
					</ul>
					
				</section>
				
				
				<section class="case-study-section">
					
					<div class="case-study-container">
						
						<h1>Security Policy Manager</h1>
						
						<p><a href="https://imanage.com/product/imanage-security-policy-manager/" title="iManage Security Policy Manager" target="_blank">iManage Security Policy Manager</a> is an application designed to manage the security of documents for companies who work inside legal and financial sectors.</p>
						
						<p>A typical day working on Security Policy Manager involves me speaking to the Product Manager about upcoming features, designing fully click-able prototypes to gather either quantitative qualitative research from user testing or speaking to real customers or performing quality assurance acceptance on our software to ensure that all design requirements have been met.</p>
						
						<div class="case-study-img">
							
							<img src="/img/spm@2x.png" alt="iManage Security Policy Manager" title="iManage Security Policy Manager" />
							
						</div>
						
					</div>
					
				</section>
				
				
				<section class="case-study-section">
					
					<div class="case-study-container">
						
						<h1>Records Manager</h1>
						
						<p><a href="https://imanage.com/product/imanage-records-manager/" title="iManage Records Manager" target="_blank">iManage Records Manager</a> is a records management application with over 500,000 users worldwide. It provides a responsive interface to manage both physical and electronic documents in large law firms and corporate legal departments. </p>
						
						<div class="case-study-img">
							
							<img src="/img/irm@2x.png" alt="iManage Records Manager" title="iManage Records Manager" />
							
						</div>
						
					</div>
					
				</section>
				
				
				<section class="case-study-section">
					
					<div class="case-study-container">
						
						<h1>ICE</h1>
						
						<p><a href="https://imanagedev.github.io/ice/" title="Read more about ICE (iManage Components &amp; Elements)" target="_blank">ICE (iManage Components &amp; Elements)</a> is iManage&#39;s living style guide. It&#39;s purpose is to lower the cost of design &amp; implementation on a company wide level, while also assuring that all iManage applications have a consistent look and feel. </p>
						
						<p>ICE is a collaborative project within iManage. My roles within the project have been contributing to the design library, writing the majority of the CSS, performing quality assurance on pull requests and reactively updating the library when any design changes are made. </p>
						
						<div class="case-study-img">
							
							<img src="/img/ice@2x.png" alt="ICE (iManage Components & Elements)" title="ICE (iManage Components & Elements)" />
							
						</div>
						
					</div>
					
				</section>

				
			</div>
			
		</div>
		
{% include sidebar.html %}

{% include footer.html %}