---
title: iManage
permalink: /work/rapid7/
---

{% include head.html %}

		<div role="main" id="content" class="main-content">
			
			{% include header.html %}
			
			<div class="intro case-study">
				
				<div class="intro-copy">
					
					<p class="back"><a href="/">Back</a></p>
					
					<h1>Rapid7</h1>
					
					<p>iManage are a cloud based cybersecurity platform.</p>
					
				</div>
				
			</div>
			
			<div id="about-content-home" class="container">
				
				<section class="content-section case-study-intro">
					
					<div class="content-container">
						
						<p>Since 2020 I have been working on in the SOAR (Security Orchestration, Automation and Response) practice. My role at Rapid7 includes discovering use cases and turning them into features for our customers.</p>

						<ul class="unstyled case-study--roles">
							<li><strong>Role:</strong></li>
							<li>UX Design</li>
							<li>End-to-End Design Process</li>
							<li>Design Workshops</li>
							<li>User Research</li>
						</ul>

						<p class="case-study--roles--mobile"><strong>Role:</strong> UX Design, End-to-End Design Process, Design Workshops, User Research.</p>
						
					</div>
					
				</section>
				
				
				<section class="content-section">
					
					<div class="content-container">
						
						<h1>The Rapid7 Extension Library</h1>
						
						<p>I was the lead designer on <a href="https://extensions.rapid7.com/">the Rapid7 Extension Library</a>, a marketplace for Rapid7 security capabilities. During my time at Rapid7 I have helped to turn the Extension Library from a MVP into a fully fledged marketplace, with a full redesign of the homepage, complete with personalised recommendations.</p>
						
						
					</div>
					
				</section>
				
				
				<section class="content-section">
					
					<div class="content-container">
						
						<h1>InsightConnect</h1>
						
						<p><a href="https://www.rapid7.com/products/insightconnect/">InsightConnect</a> is Rapid7's primary SOAR (Security Orchestration, Automation and Response) product. It gives organisations the ability to automate complicated security tasks which gives their security professions more coverage in securing their environment.</p>

						<p>My role involves talking to customers, and finding out what use cases they would like to have available to them in the product, and turning those conversations into fully fledged features.</p>
						
						
					</div>
					
				</section>

				
			</div>
			
		</div>
		
{% include sidebar.html %}

{% include footer.html %}