
.hr {
	background-image: url('/img/hr.svg');
	background-repeat: no-repeat;
	background-size: 180px 20px;
	content: '';
	display: block;
	height: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -90px;
	width: 180px;
}